#home {
    position: absolute;
    top: 350px; 
    left: 70%; 
    transform: translateX(-50%);
}

.home-content h3 {
    font-size: 2.5em;
    font-weight: 700;
}

.home-content h1 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color:#0000CD
}

.home-content {
    overflow: hidden;
}

