{% extends 'portf/layout/main.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'what.css'%}"/>
    <title></title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
        body {
            background-image: url('static/images/bg.PNG');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
  <section class="home" id="home">
    <div class="home-content">
      <h3>Hello, my name</h3>
      <h1>Aniver Yap</h1>
      <h3>and im a <span class="element"></span></h3>                      
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
  <script>
    var typed = new Typed('.element', {
        strings: ['pogi.', 'graphics designer.', 'frontend developer.'],
        typeSpeed: 20,
        loop: true
    });
</script>
</body>
</html>
{% endblock %}