{% extends 'portf/layout/main.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'lightbox2/css/lightbox.min.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div style="text-align: center;">
        <h2 style="color: blue;">Art</h2>
        {% include 'portf/inc/slider.html' %}
        <h1>&nbsp;</h1>
        <h2 style="color: blue;">Website</h2>
        <div class="row">
            <div class="col-md-12">
                <h2>AMAbay e-commerce</h2>
                <div class="row">
                    {% for web in website %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <a href="{{ web.image.url }}" data-lightbox="web-gallery" data-title="{{ web.title }}">
                            <img src="{{ web.image.url }}" class="card-img-top" alt="{{ web.title }}" style="max-width: 100%; height: auto;">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'lightbox2/js/lightbox.min.js' %}"></script>
{% endblock %}
